{% extends "halaman_profile/layout/base.html" %}

{% block content %}
<!-- Content Here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
          <section id="data-dashboard">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h2> Teman </h2>
                </div>
                <div class="table table-responsive">
                  <table class="table table-hover" id="myTable">
                      <thead>
                      <th> NPM</th>
                      <th> Nama</th>
                      <th> Angkatan</th>
                      <th> Keahlian</th>
                      </thead>
                      {% for user in pengguna %}
                        <tr>
                          <th> {{ user.kode_identitas }} </th>
                          <th> {{ user.name }} </th>
                          <th> Kosong </th>
                          {% for keahlian_user in keahlian %}
                            {% if user.kode_identitas == keahlian_user.kode_identitas %}
                              {% if keahlian_user.kejagoan == "1" %}
                                <th style="color: green;"> {{ keahlian_user.expert }} </th>
                              {% endif %}
                              {% if keahlian_user.kejagoan == "2" %}
                                <th style="color: blue;"> {{ keahlian_user.expert }} </th>
                              {% endif %}
                              {% if keahlian_user.kejagoan == "3" %}
                                <th style="color: red;"> {{ keahlian_user.expert }} </th>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </tr>
                      {% endfor %}
                  </table>
                </div>
            </div>
          </section>
      </div>
  </div>
</div>
<hr>

{% endblock %}