textarea {
    resize:none
}
section{
  min-height: 200px;
}

#input-status form{
  margin: 50px auto;
  position: relative;
  z-index: 1;
  background: #00DD6E -webkit-gradient(linear, left top, left bottom, from(#00B8DD), to(#00DD6E)) no-repeat;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 35px 40px;
  box-sizing: border-box;

}
#input-status form > h1{
  color: #2C3E50;
  margin-top: -5px;
  margin-bottom: 20px;
}
#post{
  background-color: #FFA500;
  color: white;
  padding: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: 10px;
  width: 90px;
  height: 40px;
  margin-bottom: 20px;
}

.all-status{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.show-status{
  width: 40%;
}
.status-content{
  margin-top: 10px;
  background: #fff;
  padding: 0, 10px;
  position: relative;
  z-index: 15;
  font-size: 130%;
}
pre{
  white-space: pre-wrap;
}
.status-date-added{
  font-weight: bold;
  margin-top: 30px;
}