{% load staticfiles %}
<section name="input-status" id="input-status">
    <div class="container">
        <form id="form", method="POST", action="{% url 'fitur1:add_status' %}">
            {% csrf_token %}
            {{ status_form }}
            <p></p>
            <input id="post", type="submit", class="btn btn-default", value="Post", style="float:right">
            <br>
        </form>
    </div>
</section>
<section name="all-status" id="all-status">
    <div class="container">
        <div class="flex">
            {% if status %}             
                {% for data in status reversed %}
                    <div>
                        <div class="show-status">
                            <div class="status-date-added">
                                {{data.created_date}}
                            </div>
                            <div class="status-content">
                                <pre>{{data.status}}</pre>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>No status added.</strong> Add your status now!
            </div>
            {% endif %}
        </div>
    </div>
</section>