<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 9">
    <meta name="author" content="Tugas 2 PPW">

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .rata-tengah {
            text-align: center;
            margin : 20px;
        }
        .judul {
            text-transform:uppercase;
            margin-bottom: 50px;
            margin-top: 50px;
        }
    </style>
    <title>
        {% block title %} Edit Profile {% endblock %}
    </title>
</head>
<style>

.image_sso{
  height: 40px;
  width: 40px;
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
}
  
</style>
<nav class="navbar navbar-default navbar-static-top">`
    <div class="container-header">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Edit Profile</a>
        </div>
        {% if login %}
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav nav-right pull-right">
            <li><a>{{nama_identitas}}</a></li>
            <li><img src='http://freevector.co/wp-content/uploads/2012/07/59170-user-filled-person-shape.png' class='image_sso'></li>
            <li><a href="{% url 'fitur1:auth_logout' %}" onclick="return confirm('Keluar?')">Logout</a></li>
          </ul>
        </div>
        {% endif %}
    </div>
</nav>

<div class="panel-footer">
    {% csrf_token %}
    <a class="btn btn-danger pull-left" onclick='funcSave()'>
            Simpan </a> 
    <a id='batas'></a>
    <a href="/fitur2/" class="btn btn-danger pull-right" onclick="return confirm('Discard Changes?')">
            Keluar </a>
</div>


<div class="container">
	<div class="row">
      <!-- left column -->
      <div class="col-md-5" align="center">
        <!-- sign in with linkedin button -->
        <script type="in/Login"></script>
        <div class="text-left">
          <!-- display profile info -->
          <div id="profileData" style="display: none;">
          <div class="info">
          <p id="name"></p>
          <p id="email"></p>
          <p id="link"></p>
        </div>
      </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 810ckbx7wxgwyh
    authorize: true
    onLoad: onLinkedInLoad
    scope: r_basicprofile r_emailaddress
</script>
<script type="text/javascript">
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
    }
    
    // Use the API call wrapper to request the member's profile data
    function getProfileData() {
        IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url", "email-address").result(displayProfileData).error(onError);
    }

    // Handle the successful return from the API call
    function displayProfileData(data){
        var user = data.values[0];
        var obj = JSON.stringify(data.values[0]);
        sessionStorage.setItem("data", obj);
        document.getElementById("name").innerHTML =  'Username: ' + user.firstName+' '+user.lastName;
        document.getElementById("email").innerHTML = 'Email: ' + user.emailAddress;
        var publicProfileUrl = user.publicProfileUrl
        document.getElementById("link").innerHTML = '<a href="'+user.publicProfileUrl+'" target="_blank">Profile LinkedIn: '+publicProfileUrl+'</a>';
        document.getElementById('profileData').style.display = 'block';
    }


    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }
    
    // Destroy the session of linkedin
    function logout(){
        IN.User.logout(removeProfileData);
    }
    
    // Remove profile data from page
    function removeProfileData(){
        document.getElementById('profileData').remove();
    }
    function funcSave(){
      console.log("success");
      var data = sessionStorage.getItem("data");
      var obj = JSON.parse(data);
      insertSession(obj.firstName,obj.lastName,obj.emailAddress,obj.publicProfileUrl);
      window.location.href = "/fitur2/"
    };

    var insertSession = function(firstName,lastName,email,profileUrl) {
        $.ajax({
            method: "POST",
            url: '/mahasiswa/profile/save_database/',
            data: {
              firstName: firstName,
              lastName: lastName,
              email: email,
              profileUrl: profileUrl
            },
            success : function (user) {
                console.log(user);
            },
            error : function (error) {
                console.log(error);
            }
        });
    };

</script>