{% extends "halaman_profile/layout/base.html" %}

{% block content %}
<!-- Content Here -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
          <section id="data-dashboard">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h2> Dashboard </h2>
                </div>
                <div class="panel-body">
                  <p> Username            : <em>{{userName}}</em> </p>
                  <p> NPM                 : <em>{{kode_identitas}}</em> </p>
                  <p> Keahlian            : <em>{{userKeahlian}}</em></p>
                  <p> Email               : <em>{{userEmail}}</em></p>
                  <p> Profile LinkedIn    : <em>{{userProfileLinkedIn}}</em></p>
                </div>
            </div>
          </section>
      </div>
  </div>
                    {% if jumlahKosong > 0 %}
                        <div class="alert alert-danger text-center alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h4>Silahkan isi profile anda</h4>
                        </div>
                    {% endif %}
</div>
<hr>

{% endblock %}
