{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="LAB 9">
    <meta name="author" content="{{author}}">

    <!-- bootstrap csss -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/halaman_status.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />
    <title>
        {% block title %} Tugas 2 Kelompok 13 {% endblock %}
    </title>
</head>
<body>

<content>
    <div class="container">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-success alert-dismissible" role="alert" id="django-messages" style="margin-top: 10px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}

        <!-- Content Here -->
        <div class="pojok-kanan">
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2> Selamat Datang, {{ author }}</h2>
            </div>
            <div class="panel-body">
                <!-- Tambahkan url Lihat Forum -->
                <a class="btn btn-warning">Lihat Forum</a>
                <!-- Tambahkan url Edit Profile -->
                <a href="/fitur2/" class="btn btn-primary">Profile</a>
                <!-- Jumlah status ngitungnya gimana? -->
                <p style="margin-top: 10px"> Jumlah Status : {{ jumlah_status }}</p>
                <!-- Last Status -->
                <p> Last Status : {{ latest_post.status }}</p>
            </div>
            <div class="panel-footer" style="height:55px">
                <a id="btn-logout" href="{% url 'fitur1:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')">
                    Logout </a>
            </div>
        </div>

        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li role="presentation" class="active">
                    <a href="#status" aria-controls="home" role="tab" data-toggle="tab"> Status </a>
                </li>
                <!-- tambahkan punya kalian disini -->
                <li role="presentation">
                    <a href="profile" aria-controls="settings" role="tab" data-toggle="tab"> Profile</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="status">
                    {% include 'halaman_login_status/halaman_status.html' %}
                </div>
                <!-- tambahkan link kalian disini -->
                <div role="tabpanel" class="tab-pane fane" id="profile">
                    
                </div>
            </div>
        </div>
        {% block content %}
        <!-- Your Content Here -->
        {% endblock %}
    </div>
</content>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/halaman_login_status.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
{% block javascript %}
{% endblock %}
</body>
</html>