<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="rata-tengah">
			<div class="judul">
				<h1> BukaHati </h1>
				<p class="text-info"> Perusahaan BukaHati membuka peluang untuk </p>
				<p class="text-info"> 1. Web Developer </p>
				<p class="text-info"> 2. Mobile Developer </p>
				<a href="{% url 'fitur1:index' %}" class="btn btn-primary">Login Mahasiswa</a>
			</div>
		</div>
	</div>
</div>