<style>
    .rata-tengah {
    text-align: center;
    margin : 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
    .judul {
        text-transform:uppercase;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .text-info{
        color: #31078f;
        font-size: 80%
    }
</style>
<div class="container">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-success alert-dismissible" role="alert" id="django-messages" style="margin-top: 10px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="margin-right: 15px;">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="rata-tengah">
            <div class="judul">
                <h1> Halaman Login </h1>
                <p class="text-info"> Gunakan <b> akun SSO </b> untuk login </p>
            </div>
            <form action="{% url 'fitur1:auth_login' %}" method="POST">
                {% csrf_token %}
                <p>
                    <label for="username"> Your username </label>
                    <input type="text" id="username" name="username" required>
                </p>
                <p>
                    <label for="password"> Your password </label>
                    <input type="password" id="password" name="password" required>
                </p>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

</script>    